<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog about the Marble Cost Estimator project, featuring tips and insights.">
    <meta name="author" content="Monday Erirore Eseinone">
    <title>Marble Cost Estimator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/blog-styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/mabel-styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/mabel-large-styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/image-slide.css')}}">
    <script src="scripts/admin-script.js" defer></script>


    <script src="static/scripts/nav.js" defer></script>
    <script src="static/scripts/mabel-scripts.js" defer></script>
    <script src="static/scripts/image-slide.js" defer></script>
    <script src="static/scripts/blog-comment.js" defer></script>
    <script src="static/scripts/get-date.js" defer></script>
    <script src="static/scripts/readmore.js" defer></script>

</head>
<body>
    <header>
        <h1>Marble Cost Estimator Blog</h1>
        <button type="button" id="menu"></button>
        <nav class="navigation">
            <a href="{{ url_for('index')}}" class="active">Home</a>
            <a href="{{ url_for('marble_cal')}}">Marble Cal</a>
            <a href="{{ url_for('wood_calculator')}}">Wood</a>
            <a href="{{ url_for('table_cal')}}">Table Cal</a>
            <a href="{{ url_for('wardrob_cal')}}">Wardrob Cal</a>
            <a href="{{ url_for('blogpost')}}"> Blog</a>
        </nav>
    </header>
    <main>
        
        <div class="hero">
            <div class="hero-overlay">
            </div>
            <picture>
                <source srcset="static/images/hero-large.jpg" media="(min-width: 1000px)" loading="lazy">
                <source srcset="static/images/hero-medium.webp" media="(min-width: 500px)" loading="lazy">
                <img src="/static/images/hero-small.jpg" alt="Eseinone Code Hub backgroud image" loading="lazy" width="300px" height="500px">
            </picture>
            <div class="welcome-class">
                <section>
                    <h1>Material Estimator <br>E-Code Hub!  </h1>
                    <p> Here, you’ll find a collection of my work, skills, 
                        and services as a web developer and 
                        software development student.</p> 
                        <div class="button"><a href="contact.html" class="button-exp"> Contact Us &#8594;</a></div>   
                </section>
                <section>
                    <!--<img src="/static/images/profile9.webp" alt=" Eseinone Code Hub Welcome image" loading="lazy" width="400px" height="300px">-->
                    <img src="/static/images/start.jpg" alt=" Eseinone Code Hub Welcome image" loading="lazy" width="400px" height="300px">
                </section>

            </div>

        </div>
 
    </main>
    <footer>
        <p id="year"></p> 
        <p id="date-modified"></p>
    </footer>


</body>
</html>