<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Eseinone Blog 2024">
    <meta name="author" content="Monday Erirore Eseinone">
    <title>Table Calculate</title>

    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/blog-styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/mabel-styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/mabel-large-styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/image-slide.css')}}">
    <script src="scripts/admin-script.js" defer></script>


    <script src="static/scripts/nav.js" defer></script>
    <script src="static/scripts/mabel-scripts.js" defer></script>
    <script src="static/scripts/table-scripts.js" defer></script>
    <script src="static/scripts/blog-comment.js" defer></script>
    <script src="static/scripts/get-date.js" defer></script>
    <script src="static/scripts/readmore.js" defer></script>

</head>
<body>
    <header>
        <h1>Marble Cost Estimator Blog</h1>
        <button type="button" id="menu"></button>
        <nav class="navigation">
            <a href="{{ url_for('index')}}" class="active">Home</a>
            <a href="{{ url_for('marble_cal')}}">Marble Cal</a>
            <a href="{{ url_for('wood_calculator')}}">Wood</a>
            <a href="{{ url_for('table_cal')}}">Table Cal</a>
            <a href="{{ url_for('wardrob_cal')}}">Wardrob Cal</a>
            <a href="{{ url_for('blogpost')}}"> Blog</a>
        </nav>
    </header>
    <main>
        <div class="form-grid">
            <div class="container">
                <h1>Enter the size of your table or stool below. ⬇️</h1>
                <form id="tableForm" class="mf2">
                    <label for="projectName">Project Name:</label>
                    <input type="text" id="projectName" required>
                    <br><br>

                    <h2>Measurements</h2>
                    <label for="tableLenght">Stool Length (cm):</label>
                    <input type="number" id="tableLenght" required>
                    <br><br>
        
                    <label for="tableWidth">Stool Width (cm):</label>
                    <input type="number" id="tableWidth" required>
                    <br><br>
    
                    <label for="tablehight">Stool Height (cm):</label>
                    <input type="number" id="tablehight" required>
                    <br><br>
                    
                    <button type="submit">Calculate Total Cost</button>
                </form>
            </div>
            <div class="container">
                <div id="result-display" class="result-class">
                    <h2>Results</h2>
                    <div id="namedemo">Project Name Will Show here</div>
                    <div id="tableTop">Table Top</div>
                    <div id="tableLegs">Table Legs</div>
                    <div id="tableConnL">Connections</div>
                    <div id="tableConnS">Connnections</div>
                    <div id="date">Date</div>
                    <br>
                    <hr>
                    <div id="author">Created by EME </div> 
                </div>
                <button id="printResultsButton">Print Results</button>
            </div>
        </div>
    </main>
    <footer>
        <p id="year"></p> 
        <p id="date-modified"></p>
    </footer>




