
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

ul {
    margin-left: 20px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: .2rem;
}

article {
    flex: 3;
    margin-right: 20px;
}

article {
    margin: 0;

}
.article-content  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px; 
    margin: 0;
    background-color: hsl(0, 0%, 91%);
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.353);
    padding: 1rem;
    

}

.post {
    background-color: aliceblue;
    max-width: 500px;
    padding: 5px;
}

.post img {
    max-width: 500px;
}

.post h2 {
    padding: .5rem 1rem;
    line-height: 1.2;
}

.article-content-full  {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px; 
    margin: 0;
    background-color: #e8e8e8;
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.353);
    padding: 1rem;
}

 
.full-post {
    background-color: #e8efef;
    padding: .8rem 2rem;
    box-shadow: 1px 1px 2px black;
    max-width: 900px;
    margin: 2rem auto;
}

.full-post img {
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    margin: auto;
  
}

.post-view-container {
    padding: 0px;
    margin: 1rem auto;
}
.post-blog {
    margin: auto;
    padding: .5rem .2rem .1rem;
}
.post-blog img {
    width: 180px;
    margin: auto;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    float: left;
}


.post-blog h2 {
    padding: .5rem 1rem;
    line-height: 1.2;
}

.post-blog a {
    text-decoration: none;
    color: #1f386e;
}
.post-blog a:hover {
    color: #ff1717;
}
.post-blog p {
    padding: .1rem;
    line-height: 1.2;
    font-size: var(--font-size-sm);
}

#read-more2 {
    padding: .1rem ;
    line-height: 1.2;
    margin: auto;
    font-size: small;
   
}

small {
    color: rgb(141, 8, 22);
    font-size: 12px;
  
}

.small-blog-display  {
    width: 100%;
    max-width: 950px;
    margin: auto;
    padding: 1rem;
}
.small-blog-display img {
    width: 100px;
    margin: auto;
    padding: 1rem;
}

.small-blog-display h2 {
    padding: .5rem 1rem;
    line-height: 1.2;
}
.small-blog-display p {
    padding: .1rem 1rem;
    line-height: 1.2;
}

.small-blog-display small {
    color: red;
    font-size: small;
}


.sidebar {
    flex: 1;
    background: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.353);
}

.sidebar ul {
    background-color: #e8e8e8;
    padding: .1rem 1rem;
    list-style: none;
    border-radius: 6px;
    margin: .4rem 1.2rem;
}
.sidebar li a {
    color: #1f386e;
    text-shadow: 1px 1px 3 rgb(234, 205, 15);
    font-size: x-small;
    text-decoration: none;
    border: 1px solid #b6b4b4;
    border-radius: 6px;
    padding: .2rem;

}


.sidebar a:hover {
    color: #ff1717;
}

.sidebar h4{
    color: #000;
    background-color: #e8e8e8;
    padding: 5px 10px;
    list-style: none;
    border-radius: 4px;
    font-size: x-small;
    margin: auto 1rem;
    border: 1px solid #b6b4b4;
}

.asidebar a::before{
    color: #246e1f;
}


.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: calc(100% - 60px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    background: var(--color-header);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-slider {
    margin: 1rem 0;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 200px; /* Adjust height as needed */
}

.slider img {
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider img.active {
    opacity: 1;
}

.comments-section {
    margin: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.comment {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.display-slid-content {
    margin-top: 0.7rem;
}



/* CARD FOR IMAGE STARTS HERE  */
.card {
	margin: .5rem auto;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 10px;

}
.card p {
	padding: 5px 20px;
}

 /* card style */
.card img {
    width: 200px;
    height: auto;
    float: left;
    margin: 1rem;
    padding: 1rem;
}


/* Responsive Design */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    article {
        margin:auto;

    }

    .article-content  {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto;
        grid-gap: 15px; 
        margin: 0;
        background-color: #e8e8e8;
        box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.353);
        padding: 1rem;
        
    }
    .post {
        background-color: aliceblue;
        padding: 10px;
    }
 
   .post img {
        width: 400px;
    }

    .post p {
        font-size: var(--font-size-sm);
    }
    small {
        color: red;
      
    }
    .post-blog {
        background-color: aliceblue;
        width: 100%;
        max-width: 500px; 
        padding: .2rem 1rem;
        
    }

    .post-blog img {
        /* margin: auto; */
        float: none;
        padding: 1rem;
        width: 100%;
    }
    .small-blog-display {
        background-color: aliceblue;
        width: 100%;
         max-width: 500px; 
        
    }
    .article-content-full  {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto;
        grid-gap: 15px; 
        margin: 0;
        background-color: #e8e8e8;
        box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.353);
        padding: .1rem;    
    }
    .article-content-full h2 {
        text-align: center;
        padding: 0rem;
        
        
    }
    .post-view-container {
        margin: 1rem auto;
    }

    .full-post img {
        width: 100%;
        max-width: 500px;
        height: auto;
        padding: 1rem .1rem;
      
    }
    small {
        color: #ff1717;
        font-size: small;
    }
    
    .sidebar {
        margin-top: 20px;
    }
    .sidebar li a {
        /* color: #1f386e;
        text-shadow: 1px 1px 3 rgb(234, 205, 15); */
        font-size: var(--font-size-sm);
        /* text-decoration: none;
        border: 1px solid #b6b4b4;
        border-radius: 6px;
        padding: .2rem; */
    
    }
    .sidebar h4, h3 {
        font-size: var(--font-size-sm);
        margin: auto .1rem;
    }
    

}
